body {
  width: 1000px;
  overflow-x: hidden;
}
header {
  height: 117px;
}
header .main {
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
header .main h1 {
  padding-right: 210px;
}
header .main h1 img{
  width: 125px;
}
header .main .mainMenu {
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  display: flex;
}
header .main .mainMenu li {
  padding-right: 60px;
}
header .main .mainMenu li a {}
header .navBar {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 10px;
  color: rgb(175, 175, 175);
}
header .navBar li {
  padding-right: 10px;
  letter-spacing: -2px;
}
header .navBar li a {}
main {}
main .mainBanner {
  width: 1440px;
  height: 390px;
  background-color: rgb(218, 247, 255);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
main .mainBanner a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainBanner a .text {
  margin: 100px 200px 100px 0;
}
main .mainBanner a .text .subtitle {
  width: 145px;
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 12px;
}
main .mainBanner a .text .title {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.5;
  margin-bottom: 36px;
}
main .mainBanner a .text .eventPeriod {
  font-size: 18px;
  letter-spacing: -1px;
}
main .mainBanner a .text .eventPeriod span {
  display: inline-block;
  padding: 0 3px;
}
main .mainBanner a .text .eventPeriod span:first-of-type {
  height: 18px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 6px;
  border-right: 1px solid #000;
}
main .mainBanner a .img{}
main .mainBanner a .img img{}
main .eventProduct {
  width: 1280px;
  height: 363px;
  margin: 120px 80px 120px 80px;
}
main .eventProduct .top {
  display: flex;
}
main .eventProduct .top .left {
  width: 300px;
  margin-right: 27px;
}
main .eventProduct .top .left .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -5px;
  padding-bottom: 27px;
}
main .eventProduct .top .left .more {
  margin-bottom: 42px;
}
main .eventProduct .top .left .more span {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-right: 3px;
}
main .eventProduct .top .left .more i {
  background-color: rgb(249, 187, 0);
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
}
main .eventProduct .top .left .list {
  display: flex;
  flex-flow: column nowrap;
}
main .eventProduct .top .left .list a {
  background-color: rgb(249, 187, 0);
  color: #fff;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -2px;
  border-radius: 5px;
  border-bottom-left-radius: 24px;
  margin-bottom: 15px;
}
main .eventProduct .top .left .list a i {
  padding-right: 15px;
}
main .eventProduct .top .left .list a span {
  font-weight: bold;
  padding-right: 120px;
}
main .eventProduct .top .left .list a i:last-of-type {
  font-size: 1px;
}
main .eventProduct .top .left .list .twoPlusOne {}
main .eventProduct .top .left .list .twoPlusOne i {}
main .eventProduct .top .left .list .new {}
main .eventProduct .top .left .list .new i {}
main .eventProduct .top .left .list .new span {}
main .eventProduct .top .slide_wrapper {
  position: relative;
  width: 960px;
  height: 350px;
  overflow: hidden;
}
main .eventProduct .top .product {
  width: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1.0s
}
main .eventProduct .top .product li[class ^="product"] {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* main .eventProduct .top .product li[class ^="product"] .box {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 20px;
  height: 248px;
  margin: 8px; 
}*/
main .eventProduct .top .product li[class ^="product"] .box img {
  width: 220px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 20px;
  padding: 40px 20px;
  margin: 0 10px 20px;
}
main .eventProduct .top .product li[class ^="product"] .productTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
}
main .eventProduct .top .product li[class ^="product"] .price {
  font-size: 15px;
  font-weight: bold;
  color: rgb(249, 95, 7);
}
main .eventProduct .top .product li[class ^="product"] .icon {
  color: #fff;
  background-color: rgb(249, 187, 0);
  padding: 7px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  font-size: 11px;
  letter-spacing: -1px;
  position: absolute;
  top: 20px;
  right: 20px;
}
main .eventProduct .bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}
main .eventProduct .bottom a.circle1 {
  color: rgb(249, 187, 0);
  margin-right: 5px;
}
main .eventProduct .bottom a.circle2 {
  color: rgb(243, 243, 243);
  margin-right: 5px;
}

main .eventProduct .bottom a.circle3 {
  color: rgb(243, 243, 243);
}
main .only_emart24 {
  width: 1280px;
  height: 675px;
  margin-bottom: 160px;
}
main .only_emart24 > .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: 0;
  padding-bottom: 25px;
}
main .only_emart24 > .subtitle {
  color: rgb(249, 192, 19);
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 90px;
}
main .only_emart24 .product {
  display: flex;
  justify-content: space-around;
}
main .only_emart24 .product a[class ^="product"] {
  height: 498px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 25px;
  text-align: center;

}
main .only_emart24 .product a[class ^="product"] .img {
  width: 305px;
  border-radius: 25px;
}
main .only_emart24 .product a[class ^="product"] img:last-of-type {
  margin-bottom: 36px;
}
main .only_emart24 .product a[class ^="product"] .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  padding-bottom: 18px;
}
main .only_emart24 .product a[class ^="product"] .subtitle  {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(153, 153, 153);
}
main .foundationInfo {
  width: 4091px;
  height: 747px;
  background-color: rgb(253, 206, 108);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 156px;
  padding: 120px 70px;
  margin-bottom: 105px;
}
main .foundationInfo > .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-bottom: 20px;
}
main .foundationInfo > .subtitle {
  font-weight: 600px;
  font-size: 16px;
  margin-bottom: 50px;
}
main .foundationInfo .list {
  display: flex;
  
}
main .foundationInfo .list a {
  height: 377px;
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  margin-right: 20px;
}
main .foundationInfo .list a .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
main .foundationInfo .list a .title span {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
}
main .foundationInfo .list a .title i {
  font-size: 25px;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 4px 5px;
}
main .foundationInfo .list a .subtitle {
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
main .foundationInfo .list a img {
  width: 300px;
}
main .search {
  width: 1280px;
  height: 334px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-left: 70px;
}
main .search .left .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-bottom: 60px;
}
main .search .left .searchBox {
  border: 1px solid rgb(249, 187, 0);
  width: 733px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 10px;
  border-bottom-left-radius: 36px;
  margin-bottom: 24px;
}
main .search .left .searchBox input {
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  color:rgb(218, 218, 218);
}
main .search .left .searchBox a {}
main .search .left .searchBox a i {
  color: rgb(249, 187, 0);
  font-size: 30px;
}
main .search .left ul {
  width: 733px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .search .left ul li {
  height: 40px;
  margin-right: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  border-top-right-radius: 0;
  text-align: center;
}
main .search .left ul li:last-of-type {
  margin-right: 0;
}
main .search .left ul li a {
  display: inline-block;
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;

  line-height: 2.2;
}
main .search img {
  width: 415px;
  height: 333px;
}
main .appDownload {
  width: 4091px;
  height: 831px;
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin-bottom: 160px;
}
main .appDownload .img {
  margin-right: 150px;
}
main .appDownload .img img {
  height: 762px;
}
main .appDownload .text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main .appDownload .text .subtitle {
  font-size: 20px;
  font-weight: bold;
  color: rgb(249, 187, 0);
  margin-bottom: 10px;
}
main .appDownload .text .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
  line-height: 1.8;
}
main .appDownload .text .more {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
main .appDownload .text .more span {
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
}
main .appDownload .text .more i {
  background-color: rgb(249, 187, 0);
  padding: 6px 5px 2px;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
}
main .appDownload .text .download {
  background-color: rgb(249, 187, 0);
  width: 186px;
  height: 58px;
  text-align: center;
  font-weight: bold;
  line-height: 3.5;
  border-radius: 6px;
  margin-bottom: 18px;
}
main .appDownload .text .download i {
  padding-right: 5px;
}
main .appDownload .text .download span {}
main .appDownload .text .bottomText{
  font-weight: bold;
  letter-spacing: -1px;
}
main .story {
  width: 1280px;
  height: 672px;
  display: flex;
  margin-bottom: 120px;
}
main .story .text {
  margin-top: 24px;
}
main .story .text .title {}
main .story .text .title span {
  font-size: 35px;
  line-height: 1.2;
}
main .story .text .title h2 {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
  line-height: 1.0;
}
main .story .text .subtitle {
  font-size: 15x;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(250, 197, 38);
  padding-bottom: 40px;
}
main .story .text .icons {
  
}
main .story .text .icons a {}
main .story .text .icons a i {
  color: rgb(235, 235, 235);
  font-size: 24px;
  padding-right: 10px;
}
main .story .contents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
main .story .contents a[class ^="content"] {
  display: flex;
  flex-flow: column nowrap;
  width: 305px;
  margin-right: 10px;
}
main .story .contents a.content2 {
  align-self: center;
}
main .story .contents a[class ^="content"] img {
  width: 305px;
  height: 388px;
  border: 5px solid #fff;
  border-radius: 30px;
  margin-bottom: 15px;
}
main .story .contents a.content1 img {
  border-bottom-left-radius: 0;
}
main .story .contents a.content3 img {
  border-top-right-radius: 0;
}
main .story .contents a[class ^="content"] .bottom {
  display: flex;
}
main .story .contents a[class ^="content"] .bottom img {
  width: 46px;
  height: 46px;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 50%;
  margin-right: 10px;
}
main .story .contents a[class ^="content"] .bottom .contentText {}
main .story .contents a[class ^="content"] .bottom .contentText .title {
  font-size: 25px;
  font-weight: 100;
  margin: 10px 0 20px;
}
main .story .contents a[class ^="content"] .bottom .contentText .text {
  color: rgb(167, 167, 167);
  font-weight: bold;
}
main .board {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
main .board div[class ^="board"] {
  width: 632px;
  height: 212px;
  padding: 32px 32px 40px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 1px rgb(241, 241, 241);
}
main .board div[class ^="board"] .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
main .board div[class ^="board"] .top .title {
  font-size: 20px;
  font-weight: bold;
}
main .board div[class ^="board"] .top .viewAll {
  font-size: 15px;
  font-weight: bold;
}
main .board div[class ^="board"] .top .viewAll span {
  margin-right: 5px;
}
main .board div[class ^="board"] .top .viewAll i {
  background-color: rgb(249, 187, 0);
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 1.7;
  border-radius: 8px;
  border-bottom-right-radius: 3px;
}
main .board div[class ^="board"] .list {
  height: 66%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
main .board div[class ^="board"] .list a {
  display: flex;
  justify-content: space-between;
}
main .board div[class ^="board"] .list a .title {
  color: rgb(153, 153, 153);
}
main .board div[class ^="board"] .list a .date {
  color: rgb(153, 153, 153);
}

footer {
  width: 1280px;
  height: 334px;
  background-color: rgb(244, 244, 244);
  color: rgb(74, 74, 74);
  font-size: 12px;
  padding: 80px 60px;
}
footer .top {
  display: flex;
  justify-content: space-between;

}
footer .top  .menu {
  display: flex;
}
footer .top  .menu li {
  padding: 0 20px;
  border-right: 1px solid rgb(74, 74, 74);
}
footer .top .menu li:first-of-type {
  padding-left: 0;
  font-weight: bold;
}
footer .top .menu li:last-of-type {
  border-right: none;
}
footer .top  .menu li a {}
footer .top  .right {}
footer .top  .right span {}
footer .top  .right i{}
footer .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
footer .middle .name {}
footer .middle .sns {}
footer .middle .sns a {
}
footer .middle .sns a img {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}
footer .middle .bottom {
  display: flex;
  align-content: space-around;
  color: rgb(231, 231, 231);
}
footer .middle .bottom span {
}