body {
  height: auto;
  margin: 0 auto;
}
header {
  height: 117px;
}
header .main {
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
header .main h1 {
  padding-right: 210px;
}
header .main h1 img{
  width: 125px;
}
header .main .mainMenu {
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  display: flex;
}
header .main .mainMenu li {
  padding-right: 60px;
}
header .main .mainMenu li a {}
header .navBar {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 10px;
  color: rgb(175, 175, 175);
}
header .navBar li {
  padding-right: 10px;
  letter-spacing: -2px;
}
header .navBar li a {}
main {}
main .mainBanner {
  width: 1440px;
  height: 390px;
  background-color: rgb(218, 247, 255);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
main .mainBanner a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainBanner a .text {
  margin: 100px 200px 100px 0;
}
main .mainBanner a .text .subtitle {
  width: 145px;
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 12px;
}
main .mainBanner a .text .title {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.5;
  margin-bottom: 36px;
}
main .mainBanner a .text .eventPeriod {
  font-size: 18px;
  letter-spacing: -1px;
}
main .mainBanner a .text .eventPeriod span {
  display: inline-block;
  padding: 0 3px;
}
main .mainBanner a .text .eventPeriod span:first-of-type {
  height: 18px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 6px;
  border-right: 1px solid #000;
}
main .mainBanner a .img{}
main .mainBanner a .img img{}
main .eventProduct {
  width: 1280px;
  height: 363px;
  margin: 120px 80px 120px 80px;
}
main .eventProduct .top {
  display: flex;
}
main .eventProduct .top .left {
  width: 20%;
  margin-right: 27px;
}
main .eventProduct .top .left .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -5px;
  padding-bottom: 27px;
}
main .eventProduct .top .left .more {
  margin-bottom: 42px;
}
main .eventProduct .top .left .more span {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-right: 3px;
}
main .eventProduct .top .left .more i {
  background-color: rgb(249, 187, 0);
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
}
main .eventProduct .top .left .list {
  display: flex;
  flex-flow: column nowrap;
}
main .eventProduct .top .left .list a {
  background-color: rgb(249, 187, 0);
  color: #fff;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -2px;
  border-radius: 5px;
  border-bottom-left-radius: 24px;
  margin-bottom: 15px;
}
main .eventProduct .top .left .list a i {
  padding-right: 15px;
}
main .eventProduct .top .left .list a span {
  font-weight: bold;
  padding-right: 120px;
}
main .eventProduct .top .left .list a i:last-of-type {
  font-size: 1px;
}
main .eventProduct .top .left .list .twoPlusOne {}
main .eventProduct .top .left .list .twoPlusOne i {}
main .eventProduct .top .left .list .twoPlusOne span {}
main .eventProduct .top .left .list .new {}
main .eventProduct .top .left .list .new i {}
main .eventProduct .top .left .list .new span {}
main .eventProduct .top .product {
  width: 1000px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
}
main .eventProduct .top .product a[class ^="product"] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}
main .eventProduct .top .product a[class ^="product"] .box {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 20px;
  height: 248px;
  margin: 8px;
}
main .eventProduct .top .product a[class ^="product"] .box img {
  width: 150px;
  height: 150px;
  margin-top: 60px;
}
main .eventProduct .top .product a[class ^="product"] .productTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
}
main .eventProduct .top .product a[class ^="product"] .price {
  font-size: 15px;
  font-weight: bold;
  color: rgb(249, 95, 7);
}
main .eventProduct .top .product a[class ^="product"] .icon {
  color: #fff;
  background-color: rgb(249, 187, 0);
  padding: 7px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  font-size: 11px;
  letter-spacing: -1px;
  position: absolute;
  top: 20px;
  right: 20px;
}
main .eventProduct .bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}
main .eventProduct .bottom a.circle1 {
  color: rgb(249, 187, 0);
  margin-right: 5px;
}
main .eventProduct .bottom a.circle2 {
  color: rgb(243, 243, 243);
}
main .only_emart24 {
  width: 1280px;
  height: 675px;
}
main .only_emart24 > .title {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: 0;
  padding-bottom: 25px;
}
main .only_emart24 > .subtitle {
  color: rgb(249, 192, 19);
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 90px;
}
main .only_emart24 .product {
  display: flex;
  justify-content: space-around;
}
main .only_emart24 .product a[class ^="product"] {
  height: 498px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 25px;
  text-align: center;

}
main .only_emart24 .product a[class ^="product"] .img {
  width: 305px;
  border-radius: 25px;
}
main .only_emart24 .product a[class ^="product"] img:last-of-type {
  margin-bottom: 36px;
}
main .only_emart24 .product a[class ^="product"] .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  padding-bottom: 18px;
}
main .only_emart24 .product a[class ^="product"] .subtitle  {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(153, 153, 153);
}
footer {
  width: 1280px;
  height: 334px;
  background-color: rgb(244, 244, 244);
  color: rgb(74, 74, 74);
  font-size: 12px;
  padding: 80px 60px;
}
footer .top {
  display: flex;
  justify-content: space-between;

}
footer .top  .menu {
  display: flex;
}
footer .top  .menu li {
  padding: 0 20px;
  border-right: 1px solid rgb(74, 74, 74);
}
footer .top .menu li:first-of-type {
  padding-left: 0;
  font-weight: bold;
}
footer .top .menu li:last-of-type {
  border-right: none;
}
footer .top  .menu li a {}
footer .top  .right {}
footer .top  .right span {}
footer .top  .right i{}
footer .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
footer .middle .name {}
footer .middle .sns {}
footer .middle .sns a {
}
footer .middle .sns a img {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}
footer .middle .bottom {
  display: flex;
  align-content: space-around;
  color: rgb(231, 231, 231);
}
footer .middle .bottom span {
}